.post{
    height: 408px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // max-width: 350px;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 15px;
    max-width: 360px;
    margin-left: 7px;
    margin-right: 7px;
}
.post-slider{
    margin-left: auto;
    margin-right: auto;
}