.icon {
  background-color: cadetblue;
  position: relative;
  text-align: center;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  color: black;
  border-radius: 50px;
  width: 27px;
  height: 27px;
}
