.destinos-title{
    font-size: 34px;
    font-weight: bold;
    font-family: BreePeru;
}
.destinos-subtitle-one{
    font-size: 30px;
    color: $pale-green;
    font-weight: bold;
    font-family: BreePeru;
}
.destinos-subtitle-two{
    font-size: 30px;
    color: $dark-yellow;
    font-weight: bold;
    font-family: BreePeru;
}
.destinos-subtitle-three{
    font-size: 30px;
    color: $purple;
    font-weight: bold;
    font-family: BreePeru;
}
.destinos-slider-container{
    padding-left: 0px;
    padding-right: 0px;
}
div.destinos-slider-container.col-lg-4.col-md-6.col-12 div.slick-slider.slick-initialized div.slick-list,
div.destinos-slider-container.col-lg-4.col-md-12.col-12 div.slick-slider.slick-initialized div.slick-list {
    padding: 0px 0px !important
}
.ytqp-slick-prev, .ytqp-slick-next{
    margin: auto;
    background-color: rgba(254, 209, 24, 0.5);
    z-index: 1; 
    width: 45px;
    height: 50px;
    font-size: 15px;
    line-height: 15px;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: none;
    color: $white
}
.ytqp-slick-next {
    right: 10px;
}
.ytqp-slick-prev {
    left: 10px;
}
.ytqp-prev-arrow{
    position: absolute;
    top: 17px;
    left: 14px;
}
.ytqp-next-arrow{
    position: absolute;
    top: 17px;
    left: 17px;
}
@media only screen and (max-width: 1199px){
    .destinos-price-tag-btn{
        padding-left: 7px !important;
        padding-right: 7px !important;
        font-size: 12px !important;
    }
    .ytqp-slick-next {
        right: 4px;
    }
    .ytqp-slick-prev {
        left: 4px;
    }
} 
@media only screen and (max-width: 991px){
    .destinos-price-tag-price-title {
        font-size: 18px !important
    }
    div.destinos-slider-container.col-lg-4.col-md-12.col-12 div.slick-slider.slick-initialized div.ytqp-slick-prev{
        left: 175px;
    }
    div.destinos-slider-container.col-lg-4.col-md-12.col-12 div.slick-slider.slick-initialized div.ytqp-slick-next{
        right: 175px;
    }
} 
@media only screen and (max-width: 393px){
    .destinos-price-tag-btn {
        padding-left: 3px !important;
        padding-right: 3px !important;
        font-size: 10px !important;
    }
    .destinos-price-tag-price-title {
        font-size: 13px !important;
    }
    .destinos-price-tag-place-title {
        font-size: 14px !important ;
    }
    .destinos-price-tag-place-days {
        font-size: 10px !important;
    }
} 






