.ofertas-select {
    width: 80% !important;
    margin: auto;
    height: calc(1.5em + .75rem + 7px) !important;
    font-size: 17px;
    font-family: ClanOffcNews;
    padding-top: 7px;
}
.ofertas-title{
    font-family: BreePeru;
}
.ofertas-header-title{
    font-family: ClanOffc;
    font-size: 18px;
    font-weight: 500;
    color: $white
}
.ofertas-btn-seemore{
    padding: 11px 60px 11px 60px;
    margin-bottom: 60px;
    margin-top: 60px;
}
.ofertas-btn-seemore:not(:disabled):not(.disabled).active:focus, .ofertas-btn-seemore:not(:disabled):not(.disabled):active:focus, .show>.ofertas-btn-seemore.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 241, 38, 0.5);
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(255, 241, 38, 0.5);
}