/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.inner__wrapper {
    font-family: ClanOffc;
    font-weight: bold;
    color: $dark-grey;
    margin: 0px 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.wrapper_bree {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    text-align: center;
    font-family: BreePeru;
    font-weight: bold;
    color: $dark-grey;
    font-size: 30px;
}


@include respond-to('xs') {
    .wrapper {
        margin-bottom: 20px;
    }
}