.inner_wrapper {
  font-family: ClanOffc;
  font-weight: bold;
  color: $dark-grey;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
  text-align: center;
  font-size: 25px;
}

@include respond-to("xs") {
  .wrapper {
    margin-bottom: 20px;
  }
}
