/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.wrapper {
    width: 100%;
    height: 477px;
    background-color: white;
    overflow: hidden;
}

.slides {
    width: 100%;
    height: 477px;
    object-fit: cover;
    object-position: bottom;
}

.slides_lg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.slides_sm {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    object-position: bottom;
}

.heading__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.heading__inner_wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 477px;
    justify-content: center;
    top: 30px;
    width: 75%;
    max-width: 912px;
}

.logo_wrapper{
    position: absolute;
    bottom: 60px;
    right: 0px;
    display: flex;
    justify-content: flex-end;
    border: none;
}

.logo{
    width: 43%;
}

.h1{
    max-width: 100%;
    font-family: ClanOffc;
    font-size: 44px;
    font-weight: bold;
    color: white;
    margin: 10px 0px;
}

.span {
    font-family: ClanOffc;
    font-size: 18px;
    color: white;
    font-weight: 100;
    max-width: 614px;
}

@include respond-to('xs') {
    .slides {
        height: 470px;
    }
    .slides_lg{
        display: none;
    }
    .slides_sm{
        display: block;
    }
    .span {
        max-width: 327px;
    }
    .heading__inner_wrapper{
        top: 100px;
        width: 83%;
    }
    .logo_wrapper{
        bottom: 95%;
        justify-content: flex-end;
    }
    .logo{
        width: 160px;
        height: 50px;
    }
}



