/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.button__container {
    text-align: center;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 5px;
    position: relative;
    left: 10px;
    border-left: solid white 1px;
    padding-left: 6px;
}

.button {
    border: none;
    background-color: transparent;
    color: white;
}

.heading__wrapper {
    z-index: 9999;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 720px;
    background-color: rgba(0,0,0,0.25);
    width: 27.3%;
    width: 11.1%
}

.heading__inner_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    width: 90%;
    width: 70%;
    height: 240px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.span {
    font-family: ClanOffc;
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin-top: 20px;
    max-width: 473px;
}

@include respond-to('xs') {
    .heading__inner_wrapper {
        height: 333px;
        width: 85%;
    }
    .span {
        max-width: 345px;
    }
    .heading__wrapper {
        height: 580px;
    }
}