.wrapper{
    display: flex;
    margin-top: 70px;
    align-items: center;
}
.title{
    font-family: ClanOffc;
    font-size: 18px;
    font-weight: 500;
    color: $dark-grey;
    margin-right: 25px;
}