 


/* Global styles
========================================================================== */
::-webkit-scrollbar {
	width: 10px;
    background-color: #F5F5F5;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    border-radius: 15px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;
  }
  
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: rgba(52, 171, 160, 0.8);
  }

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: '';
    clear: both;
    height: 0;
}

.show {
    display: block;
}

.show-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    width: auto;
    display: block;
}

.wrapper {
    min-width: 320px;
    max-width: 1400px;
    margin: 0 auto;
}

.slick-dots li {
    margin: 15px;
}

.slick-slide.slick-active.slick-center.slick-current>div>div {
    opacity: 1;
}
.slick-active > a {
    background-color: white;
    color: #1496a9;
    transition: all 450ms ease-in-out;
}

@media only screen and (max-width: 576px) {
   div.card-slider-module__show_slider___3TSxR > div.slick-slider.slick-initialized > div.slick-list > div.slick-track > div.slick-slide > div{
        padding-left: 60px !important;
    }
}

@media only screen and (max-width: 470px) {
    div.card-slider-module__show_slider___3TSxR > div.slick-slider.slick-initialized > div.slick-list > div.slick-track > div.slick-slide > div{
         padding-left: 18px !important;
     }
 }

 @media only screen and (max-width: 400px) {
    div.card-slider-module__show_slider___3TSxR > div.slick-slider.slick-initialized > div.slick-list > div.slick-track > div.slick-slide > div{
        margin-left: -330px !important;
     }
 }

 @media only screen and (max-width: 370px) {
    div.card-slider-module__show_slider___3TSxR > div.slick-slider.slick-initialized > div.slick-list > div.slick-track > div.slick-slide > div{
        margin-left: -315px !important;
     }
 }

 @media only screen and (max-width: 343px) {
    div.card-slider-module__show_slider___3TSxR > div.slick-slider.slick-initialized > div.slick-list > div.slick-track > div.slick-slide > div{
        margin-left: -300px !important;
     }
 }

 @media only screen and (max-width: 330px) {
    div.card-slider-module__show_slider___3TSxR > div.slick-slider.slick-initialized > div.slick-list > div.slick-track > div.slick-slide > div{
        margin-left: -290px !important;
     }
 }

 
