/* Global styles
========================================================================== */

html {
  box-sizing: border-box;
}

body {
  background: #f1f5f7;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}

.show {
  display: block;
}

.show-flex {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}
