/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */


/* Global styles
========================================================================== */

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: '';
    clear: both;
    height: 0;
}

.show {
    display: block;
}

.show-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    width: auto;
    display: block;
}

.wrapper {
    min-width: 320px;
    max-width: 1400px;
    margin: 0 auto;
}

.slick-dots li {
    margin: 15px;
}

.slick-slide.slick-active.slick-center.slick-current>div>div {
    opacity: 1;
}