/* Global variables
========================================================================== */

$font-heading: 'Bodoni 72 Book', sans-serif;
$font-body-medium: 'Hind SemiBold', -apple-system, sans-serif;
$font-body: 'Hind Regular', -apple-system, sans-serif;

$black: #000e1b;
$grey: #8d939f;
$grey-light: lighten(#8d939f, 20);
$blue: #6caeff;
$white: #ffffff;
$green: #006630;
$yellow: #fed118;
