@font-face {
  font-family: "BreePeruLight";
  src: url("../../assets/fonts/BreePeru_Light.otf");
  font-display: swap;
}
@font-face {
  font-family: "BreePeru";
  src: url("../../assets/fonts/BreePeru_Regular.otf");
  font-display: swap;
}
@font-face {
  font-family: "ClanOffcBold";
  src: url("../../assets/fonts/ClanOffc-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "ClanOffcNews";
  src: url("../../assets/fonts/ClanOffc-News.ttf");
  font-display: swap;
}
@font-face {
  font-family: "ClanOffc";
  src: url("../../assets/fonts/ClanOffc-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "ClanOffcLight";
  src: url("../../assets/fonts/ClanOffc-Thin.ttf");
  font-display: swap;
}
@font-face {
  font-family: "ClanOffcBook";
  src: url("../../assets/fonts/ClanOffc-Book.ttf");
  font-display: swap;
}
