.wrapper {
    font-family: ClanOffc;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border: none;
    min-width: 217px;
    min-height: 53px;
    padding: 16px 60px 16px 60px;
    border-radius: 24px;
    cursor: pointer;
    background-color: $pale-green;
}

.container_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.wrapper_green {
    font-family: ClanOffc;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border: none;
    min-width: 217px;
    min-height: 53px;
    padding: 16px 60px 16px 60px;
    border-radius: 24px;
    cursor: pointer;
    background-color: $green;
}

.wrapper_yellow {
    font-family: ClanOffc;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border: none;
    min-width: 217px;
    min-height: 53px;
    padding: 19px 60px 19px 60px;
    border-radius: 28px;
    cursor: pointer;
    background-color: $yellow;
}

.ofertas_button {
    padding: 19px 35px;
}

@include respond-to('xs') {
    .calendar_button {
        padding: 18px 17px 16px 17px;
    }
}