.wrapper {
    font-family: ClanOffc;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border: none;
    min-width: 217px;
    min-height: 53px;
    border-radius: 24px;
    cursor: pointer;
    border: solid 2px $yellow;
    background-color: $yellow;
    transition: all 300ms ease-in-out;
    border-radius: 24px 0px 24px 0px;
}

.wrapper:hover{
    background-color: transparent;
    border: solid 2px $yellow;
    background-color: white;
    color: $yellow;
    transition: all 200ms ease-in-out;
}

.wrapper:focus{
    outline: none;
}

.container_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.wrapper_purple{
    font-family: ClanOffc;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border: none;
    min-width: 217px;
    min-height: 53px;
    border-radius: 28px;
    cursor: pointer;
    background-color: $purple;
    border: solid 2px $purple;
}

.wrapper_purple:hover{
    border: solid 2px $purple;
    border-radius: 28px;
    background-color: white;
    color: $purple;
    transition: all 200ms ease-in-out;
}


@include respond-to('xs') {

}

@include respond-to('md') {

}

