.wrapper {
    display: flex;
    width: 96px;
    height: 25px;
    border-radius: 9px;
    font-family: ClanOffc;
    font-size: 13px;
    font-weight: 500;
    color: $pale-green;
    background-color: $default-background-t;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper_no_bg {
    display: flex;
    width: 96px;
    height: 25px;
    border-radius: 9px;
    font-family: ClanOffc;
    font-size: 13px;
    font-weight: 500;
    color: $pale-green;
    background-color: transparent;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    font-size: 13px;
    margin-top: 3px;
    margin-right: 3px;
}