.heading {
  font-family: ClanOffc;
  font-size: 25px;
  font-weight: bold;
  color: $dark-grey;
  text-align: center;
  margin-top: 80px;
}
.card_hero {
  width: 1083px;
  height: 252px;
  border-radius: 12px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.26);
  background-color: white;
  display: flex;
  margin: 35px auto 90px auto;
  overflow: hidden;
}
.left_content {
  width: 50%;
  height: 100%;
  background: white;
  position: relative;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.75;
}
.left_title {
  font-family: ClanOffc;
  font-size: 22px;
  font-weight: bold;
  color: white;
  width: 100%;
}
.shadow {
  width: 157.7px;
  height: 108px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.55);
}
.left_wrapper_absolute {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.left_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 47px 0px 47px 50px;
}
.left_inner_wrapper {
  display: flex;
  width: 100%;
}
.left_inner_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 0px 10px 25px;
}
.left_inner_content_title {
  font-family: ClanOffc;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.left_inner_content_likes {
  font-family: ClanOffcNews;
  font-size: 13px;
  font-weight: normal;
  color: $pale-green;
  display: flex;
}
.left_inner_content_link {
  font-family: ClanOffcNews;
  font-size: 12px;
  color: white;
}
.right_content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 35px;
}
.right_title {
  font-family: ClanOffc;
  font-size: 16px;
  font-weight: bold;
  color: $dark-grey;
}
.right_description {
  font-family: ClanOffcBook;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  color: $dark-grey;
  text-align: justify;
  margin-top: 15px;
}
@include respond-to("lg") {
  .card_hero {
    width: 351px;
    height: 517px;
    flex-direction: column;
  }
  .left_content{
    height: 252px;
    width: 100%;
  }
  .right_content{
    height: 265px;
    width: 100%;
    padding: 20px;
  }
  .right_title{
    display: none;
  }
  .shadow{
    width: 180px;
  }
  .left_wrapper{
    padding: 47px 0px 47px 20px;
  }
}
@include respond-to("xs") {
  .card_hero {
    width: 100%;
  }
}

