header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
.slick-dots li button.hero-slider-button:before{
    color: white !important;
    font-size: 9px !important;
}
.hero-heading{
    font-size: 38px;
    color: $white;
    font-family: ClanOffcBold;
}
.hero-subheading{
    font-size: 32px;
    color: $white;
    font-family: ClanOffcNews;
    font-weight: normal !important;
    line-height: 43px !important;
}
.hero-headings-container{
    text-align: left;
    bottom: 10%;
    position: absolute;
    // z-index: 99999;
}
.video{
    position: relative;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-31%);
}
.hero-slider-btn {
    color: white;
    background-color: $pale-green;
    border-color: $pale-green;
    border-radius: 20px;
    font-size: 18px;
    padding-left: 68px;
    padding-right: 68px;
    padding-bottom: 12px;
    padding-top: 12px;
    font-family: ClanOffc;

    }
.hero-slider-btn.focus, .hero-slider-btn:focus{
    color: white;
    background-color: $pale-green;
    border-color: $pale-green;
    box-shadow: 0 0 0 0.2rem rgba(59, 180, 43, 0.25) !important;
}
.hero-slider-btn:hover    {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(59, 180, 43, 0.25) !important;
    color: white;
    text-decoration: none; 
    background-color: $pale-green;
    border-color: $pale-green;                      
}
.hero-slider-btn:not(:disabled):not(.disabled).active, .hero-slider-btn:not(:disabled):not(.disabled):active, .show>.hero-slider-btn.dropdown-toggle {
    color: #fff;
    background-color: $pale-green;
    border-color: $pale-green;
}
.hero-heading-row{
    margin-right: auto;
    margin-left: auto;
    width: 250px;
}
@media only screen and (min-width: 400px){
    .hero-heading-row{
        width: 380px;
    }
    .hero-headings-container{
        bottom: 17%; 
        // margin-left: 28px;
    }

}
@media only screen and (min-width: 576px){
    .hero-heading-row{
        margin-left: 1%;
        width: 639px;
    }
    .hero-slider-btn{
        padding-left: 65px;
        padding-right: 65px;
    }
    .hero-heading {
        font-size: 38px;
    }
    .hero-subheading {
        font-size: 36px;
    }
    .hero-headings-container{
        bottom: 16%; 
        margin-left: 0px;
    }

}