.card-slider{
    border-radius: 12px !important;
    -webkit-box-shadow: 0 0 14px 0 rgba(176, 176, 176, 0.5);
    -moz-box-shadow: 0 0 14px 0 rgba(176, 176, 176, 0.5);
    box-shadow: 0 0 14px 0 rgba(176, 176, 176, 0.5);
    background-color: var(--white) !important;
    width: 100%
}
.card-image{
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    height: 100%;
    width: 100%;
}
.blog-title{
    font-family: BreePeru;
}
.blog-card-title {
    font-family: ClanOffc;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.31;
    letter-spacing: normal;
    color: $dark-grey;
}
.blog-card-desc {
    font-family: ClanOffcNews;
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
    color: $dark-grey;
}
.blog-card-link{
    font-family: ClanOffcNews;
    font-size: 14px;
    color: $grey;
    text-decoration: underline;
}
.blog-card-link:hover{
    color: $purple;
}
.slick-dots li button:before{
    font-size: 13px !important;
    color: $dark-grey !important;
}

@media only screen and (max-width: 400px){
    .xxs{
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .card-image{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 95%;
    }
}
@media only screen and (min-width: 1200px){
    .card-image {
        width: 100% !important;
        // height: fit-content;
    }
}



