.btn-yellow {
    color: $white;
    background-color: $yellow !important;
    border-color: $yellow !important;
    border-radius: 23px 0px 23px 0px;
    padding: 12px 65px 9px 65px;
    font-size: 18px;
    font-family: ClanOffc;
    }
.btn-yellow:hover    {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 217, 0, 0.25) !important;
    color: $white !important;
    text-decoration: none;                       
}
.ytqp-btn{
    padding: 0;
    width: auto;
    display: flex;
    justify-content: center;
}