.wrapper {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $default-background;
  height: 40px;
  border-top: solid 1px #e0e0e0;
  align-items: center;
}

.inner_wrapper {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.h6 {
  font-family: ClanOffcNews;
  font-size: 12px;
  font-weight: 700;
  color: $transparent-grey;
}

.h6_a {
  color: rgba(36, 36, 36, 0.5);
  font-family: ClanOffcNews;
  font-size: 10.5px;
  font-weight: 400;
}

.rights {
  color: rgba(36, 36, 36, 0.5);
  font-family: ClanOffcNews;
  font-size: 10.5px;
  font-weight: 400;
}

.links {
  flex: 1;
}

.copyright {
  flex: 2;
  text-align: right;
}

@include respond-to("lg") {
  .copyright {
    text-align: center;
    flex: none;
  }
  .links {
    text-align: center;
    flex: none;
    margin: 5px 5px;
  }
  .inner_wrapper {
    flex-wrap: wrap;
    justify-content: space-evenly;
    widows: 100%;
    align-items: center;
  }
  .wrapper {
    height: auto;
    padding: 15px 0px;
  }
}

@media only screen and (max-width: 752px) {
  .copyright {
    margin: 15px;
  }
  .links {
    flex-basis: 50%;
  }
}
