.wrapper{
    width: 166px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $purple;
    color: white;
    border-radius: 0px 0px 24px 0px;
    font-family: ClanOffc;
    font-size: 16px;
    font-weight: 500;

}