 

.wrapper_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 225px;
}


.wrapper__content {
    display: flex;
    align-items: center;
    width: 100%;
}

.inner_wrapper__content {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    margin: 50px 0px;
    flex-wrap: wrap;
}

.span {
    font-family: ClanOffcLight;
    line-height: 1.5;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.3px;
    color: $dark-grey;
    max-width: 267px;
    margin-top: -10px;
}

.subheading_santa_ofertas{
    font-family: ClanOffc;
    font-size: 28px;
    color: $dark-grey;
}

.heading_santa_ofertas{
    font-family: ClanOffc;
    font-size: 28px;
    color: $purple;
    text-align: center;
}

.select_santa_ofertas{
    width: 332px;
    height: 53px;
    border-radius: 24px;
    box-shadow: 2px 2px 5px 0 rgba(151, 151, 151, 0.3);
    font-family: BreePeru;
    font-size: 18px;
    color: $purple;
    border-color: aliceblue;
    padding: 0px 15px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: whitesmoke;
}

.wrapper_select_santa_ofertas{
    margin: 20px 0px 0px 0px;
}
.wrapper_select_santa_ofertas:after{
    position: relative;
    top: -3px;
    right: 35px;
    color: $blue;
    content: '⯆';
    cursor: pointer;
}

.option_santa_ofertas{
    cursor: pointer;
}

.select_santa_ofertas:focus{
    outline: none;
}

@media only screen and (max-width: 1350px) {
    .inner_wrapper__content {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .wrapper__text {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .span {
        text-align: center;
    }
}

@media only screen and (max-width: 1000px) {
    .inner_wrapper__content {
        height: auto;
        
    }
}

@include respond-to('xs') {
    .wrapper__text{
        height: 185px;
    }
    .select_santa_ofertas{
        width: 270px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wrapper_select_santa_ofertas:after{
        top: -35px;
        right: -235px;
    }
}