/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: $default-background;
    height: 75px;
    position: fixed;
    z-index: 99;
    width: 100%;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 14%;
    flex-basis: 14%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 22%;
    flex-basis: 22%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.main__link {
    font-family: ClanOffcNews;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    color: $grey;
}

.searchIcon {
    font-size: 28px;
    color: $grey;
}

.hamburguer {
    display: none;
    border: solid 1px;
    font-size: 24px;
    border-radius: 43px;
    width: 45px;
    height: 45px;
    background-color: white;
    border-color: $transparent-dark-grey;
    color: $grey;
}

.hamburguer__icon {
    position: relative;
    top: 8px;
    left: 11px;
}

.circle {
    position: absolute;
    top: 3px;
    right: 0px;
    left: auto;
    margin: auto;
    font-size: 9px;
    font-family: ClanOffc;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: red;
    color: white;
    border: solid 1px white;
}

.circle__tick {
    position: absolute;
    top: 5px;
    left: 5px;
}

.bellContainer {
    position: relative;
}

.times__icon {
    position: relative;
    top: 8px;
    left: 13px;
}

@include respond-to('sm') {
    .main {
        display: none;
    }
    .logo {
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .logo>img {
        width: 50px;
    }
    .icons {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .hamburguer {
        display: inline-block;
    }
}