.header_container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  
  @media (min-width: 992px) {
    .header_container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .header_container {
      max-width: 1140px;
    }
  }
.header_nav{ 
    width: inherit;
    height: 65px;
    background-color: rgba(52,171,160,.8);
    border-bottom-right-radius: 20px;
    margin-top: 30px;
    position: fixed;
    z-index: 999999999;
    margin-bottom: -50px;
    max-width: 912px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_row{
    width: inherit;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.menu_item{
    width: 23%;
    height: 65px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-family: BreePeruLight;
}
.menu_item > a{
    color: $white;   
}
.menu_item > a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.menu_item_mobile > a{
    color: $white;   
}
.menu_item_mobile > a{
    text-decoration: none;   
}
.menu_item:hover {
    background: #2e998f;
    cursor: pointer;
}
.menu_item_icons{
    width: 14%;
    height: 65px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $white;
    visibility: hidden;
}
.menu_item_icons > img {
    margin-left: 8px;
}
.header_icon_bg{
    background-color: #f0b127;
    padding: 4px;
}

.menu_responsive{
    display: none;
    align-items: center;
}
.bars{
    color: white;
    position: relative;
    top: 4px;
    left: 6px;
}
.hidden_collapse{
    margin: 0px 20px 0px 0px;
    border-color: #fff!important;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    border: solid 2px;
}
.hidden_collapse:hover{
    text-decoration: none;
}
a.hidden_collapse > i {
    color: white;
    position: relative;
    top: 4px;
    left: 6px;
}
div.menu_responsive > a {
    margin-left: 10px;
}
div.menu_responsive > a > i{
    color: $white
}
.toggle_menu{
    z-index: 10;
    position: fixed;
    top: 45px;
    display: none;
    flex-direction: column;
    width: 100%;
    padding-top: 34px;
    display: none;
}
.menu_item_mobile{
    border-top: solid 1px $grey;
    color: $white;
    padding-top: 15px;
    padding-bottom: 17px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: BreePeru;
}
.search{
    margin-left: 11px !important;
}

.menu_logo{
    width: 17%
}
@media only screen and (max-width: 991px)
{
    .toggle_menu{
        display: flex;
        background-color: #2e998f; 
    }
    .menu_responsive{
        display: flex;
    }
    .menu_logo{
        order: -1;
        margin-left: 20px;
    }
    .menu_logo > a > img{
        width: 40px;
        height: auto;
    }
    .menu_item, .menu_item_icons{
        display: none;
    }
    .hidden_collapse{
        display: flex;
    }
    .header_nav{
        height: 45px;
    }
    .header_nav{
        margin: 0px;
        border-radius: 0px;
        background-color: $pale-green;
        max-width: 100%;
    }
}
