
.footer-heading {
    font-family: ClanOffc;
    font-size: 14px;
    font-weight: bold;
    color: $dark-grey;
}
.footer-phone {
    // font-family: ClanOffc;
    font-size: 17px;
    font-weight: bold;
    align-items: center;
}
.whatsapp-icon{
    color: $green;
}
.footer-asis{
    padding-top: 3px;
}
.btn-green {
    color: white;
    background-color: #84c131;
    border-color: #84c131;
    border-radius: 20px;
    font-family: BreePeruLight;
    }
.btn-green:hover    {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(59, 180, 43, 0.25) !important;
    background-color: #84c131 !important;
    border-color: #84c131 !important;
    color: white;
    text-decoration: none;                       
}
.btn-green:not(:disabled):not(.disabled).active:focus, .btn-green:not(:disabled):not(.disabled):active:focus, .show>.btn-green.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(59, 180, 43, 0.25);
}
.btn-green.focus, .btn-green:focus {
    color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(59, 180, 43, 0.25);
}
.btn-green:not(:disabled):not(.disabled).active, .btn-green:not(:disabled):not(.disabled):active, .show>.btn-green.dropdown-toggle {
    color: #fff;
    background-color: #84c131;
    border-color: #84c131;
}
.footer-li{
    font-family: ClanOffc;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.3px;
    line-height: 45px;
    color: $transparent-grey;
}
.ayuda{
    font-family: ClanOffcNews;
    font-size: 14px;
    font-weight: 600;
    color: $dark-grey
}
.ayuda-p{
    font-family: ClanOffc;
    font-weight: 400;
    font-size: 14px;
    color: $transparent-grey;
    line-height: 25px;
}
.icon {
	position:relative;
	text-align:center;
	width:0px;
	height:0px;
	padding:15px;
	border-radius: 	20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px; 	
	color:#FFFFFF;
}
.icon i {
	font-size:20px;
	position:absolute;
	left:9px;
	top:10px;
}
.icon.social {
	float:left;
	margin:0 5px 0 0;
	cursor: pointer;
	background:#6d6e71 ;
	color:#FFFFFF;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
.icon.social.fb {
    background:$blue ;
}
.icon.social.tw {
    background:$sky-blue ;
}
.icon.social.in {
    background:$grey ;
}
.icon.social.you {
    background:$red ;
}
.icon.social.spo {
    background:$green ;
}
.icon.social.fb i {
    left: 9px;
    top: 6px;
}
.icon.social.tw i {
    left: 6px;
    top: 6px;
}
.icon.social.in i {
    left: 0.32em;
    top: 6px;
}
.icon.social.you i {
    left: 0.27em;
    top: 5px;
}
.icon.social.spo i {
    left: 0.23em;
    top: 4px;
    font-size: 23px;
}
.form-input{
    font-size: 100px;
}
.my-34px{
    margin-top: 34px;
    margin-bottom: 34px;
}
.input-group-border{
    border-radius: 6px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    height: calc(1.5em + .75rem + 10px) !important;
    font-family: ClanOffcNews;
    
}
.input-group-border::placeholder {
    color: $grey;
}
.my-img{
    height: 100%;
    width: auto;
}
.border-top{
    border-top: solid 1px #e0e0e0;
    height: 1px;
}
.subfooter-links{
    font-family: ClanOffc;
    font-size: 12px;
    font-weight: 700;
    color: $transparent-grey;
}
.alter-color{
    color: rgba(36, 36, 36, 0.5);
    font-family: ClanOffcNews !important;
}
.fa.fa-whatsapp{
    font-size: 24px;
}
.fs-14 {
 font-size: 14px;
}
