.wrapper {
  display: flex;
  justify-content: center;
  background-color: rgb(242, 242, 242);
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 75px;
  transition: all 500ms ease-in-out;
}

.wrapper-none {
  top: -330px;
  position: fixed;
}

.inner_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.link {
  font-family: ClanOffcLight;
  font-size: 20px;
  color: $dark-grey;
  text-transform: uppercase;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px $dark-grey;
  padding-left: 50px;
}
