.img {
    width: 500px;
    height: 325px;
}

.imgobile{
    width: 310px;
    height: 250px;
    display: none;
}

.wrapper{
    display: flex;
    justify-content: center;
    height: 370px;
}

@include respond-to('xs') {
    .wrapper{
        display: flex;
        justify-content: center;
        height: 435px;
    }
    .imgobile{
        display: block;
    }

    .img{
        display: none;
    }
}
