.filter_wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 140px;
    width: 100%;
}

.wrapper{
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 60px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    margin: auto;
}

.header_text{
    font-family: BreePeru;
    font-size: 20px;
    font-weight: bold;
    color: $dark-grey;
}

.header_button{
    color: white;
    font-family: ClanOffc;
    font-size: 12px;
    font-weight: 500;
    color: white;
    border: none;
    width: 76px;
    height: 24px;
    border-radius: 70px;
    cursor: pointer;
    border: solid 2px $yellow;
    background-color: $yellow;
}

.header_button:hover{
    background-color: transparent;
    border: solid 2px $yellow;
    color: $yellow;
    transition: all 200ms ease-in-out;
}

.card_slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

@include respond-to('lg') {
    .card_slider{
        justify-content: center;
    }
    .header{
        width: 90%;
    }
    .filter_wrapper{
        height: 210px;
    }
}
@include respond-to('sm') {
    .filter_wrapper{
        height: 130px;
    }
}



