.price-tag-position{
    top: 293px;
    display: flex;
    position: relative;
    justify-content: center;
}
.price-tag-border{
    border-radius: 0px 0px 23px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 320px !important;
    
}
.price-tag-col{
    padding-right: 4px;
    padding-left: 4px;
    justify-content: center;
}
.price-tag-price {
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border-right: dashed 2px;
}
.price-tag-place {
    color: $white;
    border-left: dashed 0.1em;
    padding-left: 10px;
}
.price-tag-price-title{
    font-size: 21px;
    font-family: ClanOffcBold;
}
.price-tag-price-sale{
    font-size: 9px;
    font-family: ClanOffcNews;
    padding-top: 3px;
}
.price-tag-place-title{
    font-size: 18px;
    font-family: BreePeru;
}
.price-tag-place-days{
    font-size: 14px;
    font-family: BreePeruLight;
    font-weight: 100;
    padding-top: 3px;
}
.price-tag-btn{
    border-radius: 23px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 0px;
    color: $purple !important;
    background-color: $yellow !important;
    font-weight: 700;
    border-color: $yellow !important;
    font-family: ClanOffcNews;    
}
.price-tag-btn:not(:disabled):not(.disabled):active{
    color: $purple
}
.price-tag-btn:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 0.2rem rgba(243, 219, 6, 0.25);
}
.price-tag-btn:hover {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(243, 219, 6, 0.25);
    text-decoration: none;
    color: $purple;                       
}
.price-tag-container-btn{
    padding-left: 2px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.price-flex-center{
    flex: 1 0 52px;
}
@media only screen and (max-width: 345px){
    .price-tag-btn{
        padding-left: 7px;
        padding-right: 7px;
    }
    .price-tag-price-title {
        font-size: 19px;
    }
    .price-tag-place-title {
        font-size: 15px;
    }
} 
@media only screen and (min-width: 1200px){
    .price-tag-container-btn{
        padding-left: 3px;
        padding-right: 10px;
    }
    .price-tag-place-title {
        font-size: 18px;
    }
}